<div ng-controller="ApartmentController as aptCtrl">
    <div class="page-header">
        <h1><b translate="APARTMENT_LIST_TITLE">Apartments</b> <small>({{ data.referenceDate | amDateFormat:'MMMM YYYY' }})</small></h1>
    </div>
    <table class="table table-striped" at-table at-paginated at-list="list" at-config="config">
        <thead>
            <tr>
                <th>#</th>
                <th>Responsible</th>
                <th>...</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>x</td>
                <td>y</td>
                <td>z</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>101</td>
                <td>Fulano da Silva</td>
                <td>Body content 2</td>
            </tr>
        </tbody>
    </table>
</div>
